In [1]:
import pandas as pd
import numpy as np

In [5]:
import matplotlib.pyplot as plt

df = pd.read_csv("bank-additional.csv", sep = ';')

In [6]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

In [7]:
df.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [10]:
df.loc[23]

age                        40
job                management
marital               married
education         high.school
default                    no
housing                    no
loan                      yes
contact              cellular
month                     aug
day_of_week               wed
duration                  119
campaign                    1
pdays                     999
previous                    0
poutcome          nonexistent
emp.var.rate              1.4
cons.price.idx         93.444
cons.conf.idx           -36.1
euribor3m               4.965
nr.employed            5228.1
y                          no
Name: 23, dtype: object

In [11]:
df.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [17]:
# Setting categorical variables
df['job'] = df['job'].astype('category')
df['marital'] = df['marital'].astype('category')
df['education'] = df['education'].astype('category')
df['default'] = df['default'].astype('category')
df['housing'] = df['housing'].astype('category')
df['loan'] = df['loan'].astype('category')
df['contact'] = df['contact'].astype('category')
df['month'] = df['month'].astype('category')
df['day_of_week'] = df['day_of_week'].astype('category')
df['poutcome'] = df['poutcome'].astype('category')
df['y'] = df['y'].astype('category')

In [18]:
df.dtypes

age                  int64
job               category
marital           category
education         category
default           category
housing           category
loan              category
contact           category
month             category
day_of_week       category
duration             int64
campaign             int64
pdays                int64
previous             int64
poutcome          category
emp.var.rate       float64
cons.price.idx     float64
cons.conf.idx      float64
euribor3m          float64
nr.employed        float64
y                 category
dtype: object

In [21]:
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

In [31]:
# Put all x variables in df_x
df_x = df.iloc[:,:-1]
df_x

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,487,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1
1,39,services,single,high.school,no,no,no,telephone,may,fri,346,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,227,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,17,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,58,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8
5,32,services,single,university.degree,no,no,no,cellular,sep,thu,128,3,999,2,failure,-1.1,94.199,-37.5,0.884,4963.6
6,32,admin.,single,university.degree,no,yes,no,cellular,sep,mon,290,4,999,0,nonexistent,-1.1,94.199,-37.5,0.879,4963.6
7,41,entrepreneur,married,university.degree,unknown,yes,no,cellular,nov,mon,44,2,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8
8,31,services,divorced,professional.course,no,no,no,cellular,nov,tue,68,1,999,1,failure,-0.1,93.200,-42.0,4.153,5195.8
9,35,blue-collar,married,basic.9y,unknown,no,no,telephone,may,thu,170,1,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
10,25,services,single,basic.6y,unknown,yes,no,cellular,jul,thu,301,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1
11,36,self-employed,single,basic.4y,no,no,no,cellular,jul,thu,148,1,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1
12,36,admin.,married,high.school,no,no,no,telephone,may,wed,97,2,999,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0
13,47,blue-collar,married,basic.4y,no,yes,no,telephone,jun,thu,211,2,999,0,nonexistent,1.4,94.465,-41.8,4.958,5228.1
14,29,admin.,single,high.school,no,no,no,cellular,may,fri,553,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1
15,27,services,single,university.degree,no,no,no,cellular,jul,wed,698,2,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1
16,44,admin.,divorced,university.degree,no,no,no,cellular,jul,wed,191,6,999,0,nonexistent,1.4,93.918,-42.7,4.957,5228.1
17,46,admin.,divorced,university.degree,no,yes,no,telephone,jul,mon,59,4,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
18,45,entrepreneur,married,university.degree,unknown,yes,yes,cellular,aug,mon,38,2,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1
19,50,blue-collar,married,basic.4y,no,no,yes,cellular,jul,tue,849,1,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
20,55,services,married,basic.6y,unknown,yes,no,cellular,jul,tue,326,6,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
21,39,technician,divorced,high.school,no,no,no,cellular,mar,mon,222,1,12,2,success,-1.8,93.369,-34.8,0.639,5008.7
22,29,technician,single,university.degree,no,yes,yes,cellular,aug,wed,626,3,999,0,nonexistent,1.4,93.444,-36.1,4.967,5228.1
23,40,management,married,high.school,no,no,yes,cellular,aug,wed,119,1,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1
24,44,technician,married,professional.course,unknown,yes,no,telephone,may,fri,388,7,999,0,nonexistent,1.1,93.994,-36.4,4.864,5191.0
25,38,technician,married,professional.course,no,yes,no,cellular,aug,mon,479,1,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1
26,36,technician,divorced,professional.course,no,no,no,telephone,may,wed,446,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
27,28,blue-collar,married,basic.6y,unknown,no,no,cellular,may,mon,68,2,999,1,failure,-1.8,92.893,-46.2,1.299,5099.1
28,47,admin.,single,unknown,unknown,no,no,telephone,may,thu,127,1,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
29,34,admin.,married,university.degree,no,no,no,cellular,aug,tue,109,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4089,25,admin.,single,university.degree,no,yes,yes,cellular,oct,fri,115,1,999,1,failure,-3.4,92.431,-26.9,0.739,5017.5
4090,43,blue-collar,married,basic.4y,unknown,yes,yes,telephone,may,tue,593,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4091,38,management,married,high.school,unknown,no,no,telephone,may,thu,879,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
4092,30,blue-collar,single,high.school,no,no,no,telephone,jul,wed,71,1,999,0,nonexistent,1.4,93.918,-42.7,4.956,5228.1
4093,56,retired,married,basic.4y,unknown,no,no,cellular,jul,tue,580,3,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
4094,62,blue-collar,married,basic.4y,no,yes,no,cellular,nov,mon,152,1,6,1,success,-3.4,92.649,-30.1,0.719,5017.5
4095,36,admin.,single,university.degree,no,no,yes,cellular,aug,fri,69,2,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
4096,33,services,married,high.school,no,no,no,telephone,may,mon,146,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4097,41,blue-collar,divorced,basic.9y,no,no,no,cellular,aug,tue,102,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
4098,34,housemaid,single,university.degree,no,yes,no,cellular,aug,thu,159,3,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
4099,58,admin.,divorced,high.school,no,no,no,cellular,aug,tue,290,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
4100,41,admin.,divorced,high.school,no,no,no,cellular,apr,fri,620,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1
4101,35,entrepreneur,single,university.degree,no,yes,no,cellular,jul,mon,88,5,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1
4102,31,blue-collar,single,basic.9y,unknown,no,yes,telephone,jun,fri,70,2,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1
4103,43,services,married,high.school,no,no,no,telephone,may,mon,77,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
4104,42,technician,divorced,professional.course,no,yes,no,cellular,aug,mon,408,1,999,0,nonexistent,1.4,93.444,-36.1,4.970,5228.1
4105,47,housemaid,married,basic.4y,unknown,yes,no,telephone,jul,tue,159,2,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
4106,45,entrepreneur,divorced,basic.9y,no,yes,no,cellular,may,tue,29,3,999,0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1
4107,36,admin.,married,university.degree,unknown,yes,no,cellular,aug,wed,155,11,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
4108,32,admin.,married,university.degree,no,yes,no,telephone,may,thu,151,5,999,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1
4109,63,retired,married,high.school,no,no,no,cellular,oct,wed,1386,1,999,0,nonexistent,-3.4,92.431,-26.9,0.740,5017.5
4110,53,housemaid,divorced,basic.6y,unknown,unknown,unknown,telephone,may,fri,85,2,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0
4111,30,technician,married,university.degree,no,no,yes,cellular,jun,fri,131,1,999,1,failure,-1.7,94.055,-39.8,0.748,4991.6
4112,31,technician,single,professional.course,no,yes,no,cellular,nov,thu,155,1,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8
4113,31,admin.,single,university.degree,no,yes,no,cellular,nov,thu,463,1,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8
4114,30,admin.,married,basic.6y,no,yes,yes,cellular,jul,thu,53,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1
4115,39,admin.,married,high.school,no,yes,no,telephone,jul,fri,219,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1
4116,27,student,single,high.school,no,no,no,cellular,may,mon,64,2,999,1,failure,-1.8,92.893,-46.2,1.354,5099.1
4117,58,admin.,married,high.school,no,no,no,cellular,aug,fri,528,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
4118,34,management,single,high.school,no,yes,no,cellular,nov,wed,175,1,999,0,nonexistent,-0.1,93.200,-42.0,4.120,5195.8

In [30]:
df_y = df.iloc[:,-1]
df_y

0        no
1        no
2        no
3        no
4        no
5        no
6        no
7        no
8        no
9        no
10       no
11       no
12       no
13       no
14       no
15       no
16       no
17       no
18       no
19      yes
20       no
21      yes
22       no
23       no
24       no
25      yes
26       no
27       no
28       no
29       no
       ...
4089    yes
4090     no
4091     no
4092     no
4093     no
4094     no
4095     no
4096     no
4097     no
4098     no
4099     no
4100     no
4101     no
4102     no
4103     no
4104     no
4105     no
4106     no
4107     no
4108     no
4109     no
4110     no
4111     no
4112     no
4113     no
4114     no
4115     no
4116     no
4117     no
4118     no
Name: y, Length: 4119, dtype: category
Categories (2, object): [no, yes]

In [38]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size = 0.3)
x_train.shape, y_train.shape

((2883, 20), (2883,))

In [39]:
x_train

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
3429,41,housemaid,married,high.school,no,yes,no,telephone,nov,fri,1074,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,58,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8
112,31,blue-collar,married,basic.6y,no,yes,no,telephone,jun,wed,406,2,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1
630,39,blue-collar,single,basic.9y,no,yes,no,cellular,nov,mon,78,2,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8
3485,32,services,married,high.school,unknown,no,no,cellular,jul,mon,44,1,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1
2366,52,technician,married,professional.course,no,yes,yes,cellular,sep,mon,211,1,999,1,failure,-3.4,92.379,-29.8,0.797,5017.5
465,36,housemaid,married,basic.4y,no,unknown,unknown,cellular,aug,tue,23,14,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1
219,51,retired,married,basic.9y,unknown,no,no,cellular,jul,fri,64,1,999,0,nonexistent,1.4,93.918,-42.7,4.959,5228.1
2739,24,admin.,single,university.degree,no,yes,yes,cellular,jun,mon,74,1,999,0,nonexistent,-2.9,92.963,-40.8,1.260,5076.2
2782,48,admin.,divorced,university.degree,no,no,no,cellular,may,tue,1062,3,999,0,nonexistent,-1.8,92.893,-46.2,1.291,5099.1
3118,26,blue-collar,married,basic.9y,no,no,no,telephone,jun,mon,230,3,999,0,nonexistent,1.4,94.465,-41.8,4.865,5228.1
4105,47,housemaid,married,basic.4y,unknown,yes,no,telephone,jul,tue,159,2,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
1981,31,blue-collar,married,professional.course,no,yes,no,cellular,jul,wed,458,2,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1
854,41,admin.,married,university.degree,no,no,no,cellular,jul,mon,1360,3,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1
707,29,student,single,university.degree,no,yes,no,cellular,jul,thu,489,1,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1
1555,35,technician,married,professional.course,no,yes,no,telephone,jun,tue,117,3,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1
178,27,admin.,single,unknown,no,no,no,cellular,mar,tue,128,1,3,1,success,-1.8,93.369,-34.8,0.637,5008.7
3312,29,unemployed,single,university.degree,no,no,no,telephone,may,thu,297,1,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
1435,42,services,married,high.school,no,no,no,cellular,may,mon,312,2,999,0,nonexistent,-1.8,92.893,-46.2,1.354,5099.1
3071,35,technician,married,professional.course,no,yes,no,cellular,may,tue,206,1,999,1,failure,-1.8,92.893,-46.2,1.344,5099.1
3313,50,management,married,university.degree,no,yes,yes,cellular,apr,fri,206,1,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1
71,51,services,married,high.school,unknown,yes,no,telephone,jul,mon,596,3,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
604,44,blue-collar,married,high.school,no,no,no,cellular,apr,mon,271,2,999,1,failure,-1.8,93.075,-47.1,1.466,5099.1
1106,37,admin.,single,university.degree,no,no,no,cellular,may,wed,51,4,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1
3691,54,management,married,high.school,no,no,no,cellular,aug,mon,725,4,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
3271,34,technician,divorced,professional.course,no,yes,no,cellular,may,fri,1190,2,999,0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1
608,54,technician,married,university.degree,unknown,no,no,telephone,jun,thu,322,2,999,0,nonexistent,1.4,94.465,-41.8,4.958,5228.1
3356,43,blue-collar,married,high.school,no,yes,no,telephone,may,wed,294,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
2689,60,admin.,married,professional.course,no,yes,no,cellular,apr,thu,571,1,999,0,nonexistent,-1.8,93.075,-47.1,1.365,5099.1
719,31,blue-collar,single,basic.9y,no,no,no,telephone,jun,wed,767,2,999,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680,36,blue-collar,married,basic.9y,unknown,no,no,cellular,jul,thu,218,1,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1
3459,53,housemaid,married,basic.6y,unknown,unknown,unknown,cellular,apr,mon,372,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1
4050,27,student,single,high.school,no,no,yes,cellular,jul,wed,537,2,999,1,failure,-2.9,92.469,-33.6,1.029,5076.2
770,34,technician,married,high.school,no,yes,no,cellular,aug,fri,107,1,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
545,29,technician,single,professional.course,no,yes,no,cellular,may,mon,245,1,999,0,nonexistent,-1.8,92.893,-46.2,1.244,5099.1
3613,34,entrepreneur,single,university.degree,no,yes,no,cellular,may,thu,87,1,999,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1
2418,53,management,married,university.degree,unknown,yes,no,telephone,may,tue,186,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
2723,45,services,divorced,basic.4y,no,no,no,cellular,apr,thu,296,1,999,0,nonexistent,-1.8,93.075,-47.1,1.410,5099.1
3007,39,unemployed,married,university.degree,no,no,no,telephone,jun,tue,132,2,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1
3927,29,entrepreneur,single,university.degree,no,no,no,cellular,apr,fri,758,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1
1920,33,admin.,married,university.degree,no,yes,no,cellular,aug,fri,24,10,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
1310,50,technician,married,university.degree,no,yes,yes,cellular,sep,wed,1353,2,999,0,nonexistent,-3.4,92.379,-29.8,0.749,5017.5
3216,47,management,married,university.degree,no,yes,no,cellular,aug,mon,145,3,3,2,success,-1.7,94.027,-38.3,0.904,4991.6
1011,38,blue-collar,married,basic.4y,no,no,no,cellular,may,wed,161,1,999,1,failure,-1.8,92.893,-46.2,1.334,5099.1
3126,60,retired,married,university.degree,unknown,yes,no,telephone,may,tue,245,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
3801,53,admin.,divorced,high.school,no,yes,no,cellular,jun,mon,70,1,999,1,failure,-2.9,92.963,-40.8,1.266,5076.2
3757,59,admin.,married,high.school,no,yes,no,cellular,aug,wed,1019,2,2,1,success,-2.9,92.201,-31.4,0.884,5076.2
2460,49,technician,divorced,high.school,no,yes,no,cellular,jul,thu,1171,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1
674,58,unemployed,married,university.degree,no,yes,no,cellular,nov,thu,344,2,999,0,nonexistent,-1.1,94.767,-50.8,1.041,4963.6
1934,29,admin.,single,university.degree,no,yes,no,cellular,aug,tue,67,1,999,0,nonexistent,1.4,93.444,-36.1,4.968,5228.1
1911,47,technician,single,professional.course,no,yes,no,cellular,jul,mon,108,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
2143,49,technician,married,university.degree,no,no,no,telephone,may,mon,107,3,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
3906,27,technician,single,professional.course,no,no,no,cellular,jul,thu,234,1,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1
197,41,technician,married,professional.course,no,no,no,telephone,may,tue,92,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
109,47,management,married,university.degree,no,yes,no,cellular,jul,wed,123,1,999,0,nonexistent,-2.9,92.469,-33.6,1.029,5076.2
418,41,technician,divorced,basic.4y,no,yes,no,telephone,may,tue,270,1,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
434,30,admin.,single,university.degree,no,yes,no,cellular,aug,wed,105,1,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
2946,31,unemployed,single,professional.course,no,no,no,telephone,may,tue,20,12,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
3476,36,blue-collar,married,basic.4y,unknown,yes,no,telephone,may,fri,166,2,999,0,nonexistent,1.1,93.994,-36.4,4.864,5191.0
1330,45,services,married,high.school,unknown,yes,no,cellular,apr,mon,79,1,999,1,failure,-1.8,93.075,-47.1,1.405,5099.1

In [40]:
x_test

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,duration,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
4015,27,student,married,high.school,no,yes,no,telephone,may,wed,54,1,999,0,nonexistent,-1.8,93.876,-40.0,0.672,5008.7
564,33,technician,married,professional.course,no,no,no,cellular,apr,thu,285,1,999,0,nonexistent,-1.8,93.075,-47.1,1.410,5099.1
1752,45,management,married,basic.9y,no,yes,no,cellular,may,thu,165,1,999,3,failure,-1.8,93.876,-40.0,0.692,5008.7
4068,47,blue-collar,divorced,basic.9y,unknown,yes,no,telephone,may,wed,30,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
2707,56,housemaid,divorced,basic.4y,no,yes,no,cellular,nov,thu,212,1,999,1,failure,-0.1,93.200,-42.0,4.076,5195.8
486,44,entrepreneur,married,basic.4y,no,yes,no,cellular,may,tue,955,2,999,0,nonexistent,-1.8,92.893,-46.2,1.344,5099.1
2567,29,technician,married,professional.course,no,no,no,telephone,may,tue,64,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
2436,49,blue-collar,married,basic.6y,unknown,no,yes,cellular,may,tue,354,1,999,0,nonexistent,-1.8,92.893,-46.2,1.291,5099.1
846,40,admin.,married,university.degree,no,yes,yes,cellular,aug,tue,117,1,999,0,nonexistent,1.4,93.444,-36.1,4.966,5228.1
3337,59,retired,married,basic.4y,no,no,yes,telephone,jul,thu,22,3,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1
3882,68,retired,married,basic.4y,no,no,no,telephone,sep,tue,201,1,999,1,failure,-3.4,92.379,-29.8,0.788,5017.5
523,51,admin.,single,university.degree,no,yes,yes,cellular,jun,fri,263,2,999,0,nonexistent,-2.9,92.963,-40.8,1.268,5076.2
2332,57,blue-collar,married,basic.4y,unknown,yes,no,cellular,jul,mon,769,3,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1
1004,25,blue-collar,single,high.school,no,no,no,cellular,may,fri,1068,3,999,0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1
357,44,admin.,divorced,high.school,no,yes,no,cellular,may,tue,173,8,999,1,failure,-1.8,92.893,-46.2,1.291,5099.1
1024,42,technician,married,professional.course,no,yes,yes,cellular,may,thu,50,2,999,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1
294,56,blue-collar,married,basic.4y,unknown,yes,no,cellular,jul,tue,335,2,999,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1
2636,37,blue-collar,married,high.school,unknown,no,no,telephone,may,tue,26,14,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
430,40,blue-collar,divorced,basic.9y,no,yes,no,cellular,jul,wed,207,3,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
3012,45,blue-collar,married,basic.9y,unknown,no,no,telephone,jun,thu,10,16,999,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1
1794,43,blue-collar,married,basic.6y,no,yes,no,cellular,may,tue,286,1,999,1,failure,-1.8,92.893,-46.2,1.344,5099.1
3268,20,blue-collar,single,high.school,no,yes,no,cellular,may,wed,410,1,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1
3207,32,technician,married,professional.course,no,no,no,cellular,apr,mon,688,2,999,0,nonexistent,-1.8,93.749,-34.6,0.645,5008.7
2994,47,blue-collar,single,basic.9y,unknown,no,no,cellular,may,wed,159,1,999,0,nonexistent,-1.8,92.893,-46.2,1.334,5099.1
1774,36,admin.,single,high.school,no,yes,no,telephone,jul,thu,140,1,999,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1
2266,54,admin.,married,professional.course,no,yes,no,cellular,aug,wed,103,4,999,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1
342,30,services,married,basic.6y,no,no,no,cellular,nov,tue,154,2,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8
1447,39,blue-collar,divorced,basic.9y,unknown,no,no,telephone,may,tue,304,2,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
2690,33,technician,married,professional.course,no,yes,no,telephone,may,mon,390,3,999,0,nonexistent,-1.8,92.893,-46.2,1.354,5099.1
4101,35,entrepreneur,single,university.degree,no,yes,no,cellular,jul,mon,88,5,999,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,50,blue-collar,married,basic.9y,unknown,unknown,unknown,telephone,jul,thu,90,1,999,0,nonexistent,1.4,93.918,-42.7,4.966,5228.1
1025,47,admin.,divorced,university.degree,no,yes,no,telephone,may,mon,208,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0
2681,53,admin.,divorced,university.degree,no,yes,no,cellular,mar,thu,228,1,999,1,failure,-1.8,93.369,-34.8,0.650,5008.7
649,47,blue-collar,married,high.school,no,yes,no,cellular,may,fri,181,1,999,0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1
569,33,admin.,single,university.degree,no,yes,yes,cellular,aug,tue,275,6,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
2678,28,self-employed,single,university.degree,no,no,no,cellular,jun,mon,373,2,999,0,nonexistent,-2.9,92.963,-40.8,1.266,5076.2
3994,39,services,divorced,high.school,no,no,no,cellular,jul,thu,151,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
945,32,admin.,single,university.degree,no,unknown,unknown,cellular,nov,fri,59,1,999,0,nonexistent,-0.1,93.200,-42.0,4.021,5195.8
3162,27,admin.,single,professional.course,no,yes,no,cellular,jul,tue,483,2,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
2752,29,admin.,single,high.school,no,no,no,cellular,may,wed,230,4,999,0,nonexistent,-1.8,92.893,-46.2,1.281,5099.1
2731,42,management,married,high.school,no,no,no,cellular,aug,wed,588,3,999,0,nonexistent,1.4,93.444,-36.1,4.967,5228.1
3357,31,admin.,single,university.degree,unknown,yes,no,cellular,aug,tue,112,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1
2527,45,blue-collar,single,high.school,unknown,yes,no,cellular,may,mon,8,7,999,0,nonexistent,-1.8,92.893,-46.2,1.244,5099.1
3288,40,entrepreneur,married,professional.course,unknown,yes,no,cellular,apr,thu,176,1,999,1,failure,-1.8,93.075,-47.1,1.410,5099.1
3381,31,admin.,married,high.school,no,no,yes,telephone,may,thu,349,2,999,0,nonexistent,1.1,93.994,-36.4,4.860,5191.0
1638,42,entrepreneur,married,basic.4y,unknown,yes,no,telephone,jul,thu,485,2,999,0,nonexistent,1.4,93.918,-42.7,4.958,5228.1
789,42,technician,married,professional.course,unknown,yes,no,cellular,jul,thu,721,10,999,0,nonexistent,1.4,93.918,-42.7,4.968,5228.1
1185,55,admin.,married,unknown,no,yes,yes,cellular,nov,thu,591,3,999,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8
292,26,technician,single,university.degree,no,yes,no,cellular,jul,fri,806,3,6,2,success,-1.7,94.215,-40.3,0.861,4991.6
4069,60,admin.,married,university.degree,no,yes,no,cellular,may,mon,1602,2,999,0,nonexistent,-1.8,92.893,-46.2,1.354,5099.1
1824,32,services,married,high.school,no,no,no,cellular,apr,fri,1090,1,999,0,nonexistent,-1.8,93.075,-47.1,1.479,5099.1
4076,68,retired,married,basic.4y,unknown,yes,no,cellular,jun,mon,383,3,999,0,nonexistent,-1.7,94.055,-39.8,0.754,4991.6
951,31,technician,single,high.school,no,yes,yes,cellular,aug,wed,113,2,999,0,nonexistent,1.4,93.444,-36.1,4.967,5228.1
1827,60,admin.,married,basic.9y,no,yes,no,cellular,aug,thu,259,1,999,0,nonexistent,1.4,93.444,-36.1,4.962,5228.1
257,57,blue-collar,married,unknown,unknown,yes,no,telephone,may,tue,473,2,999,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0
141,32,technician,divorced,professional.course,no,yes,no,cellular,nov,tue,250,1,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8
2646,57,blue-collar,married,basic.4y,unknown,yes,no,cellular,jul,fri,153,1,999,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1
1639,36,admin.,married,university.degree,no,yes,no,cellular,apr,mon,506,2,999,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1
3226,33,admin.,married,high.school,no,yes,no,cellular,nov,tue,125,2,999,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8
3963,41,blue-collar,married,unknown,unknown,yes,no,cellular,apr,fri,50,2,999,1,failure,-1.8,93.075,-47.1,1.405,5099.1

In [41]:
y_train

3429    yes
4        no
112      no
630      no
3485     no
2366    yes
465      no
219      no
2739     no
2782    yes
3118    yes
4105     no
1981    yes
854     yes
707      no
1555     no
178     yes
3312     no
1435     no
3071     no
3313     no
71      yes
604      no
1106     no
3691     no
3271    yes
608      no
3356     no
2689    yes
719     yes
       ...
2680     no
3459     no
4050     no
770      no
545      no
3613     no
2418     no
2723     no
3007     no
3927     no
1920     no
1310     no
3216     no
1011     no
3126     no
3801     no
3757    yes
2460     no
674     yes
1934     no
1911     no
2143     no
3906     no
197      no
109      no
418      no
434      no
2946     no
3476     no
1330     no
Name: y, Length: 2883, dtype: category
Categories (2, object): [no, yes]

In [42]:
y_test

4015     no
564     yes
1752     no
4068     no
2707     no
486     yes
2567     no
2436     no
846      no
3337     no
3882     no
523      no
2332     no
1004    yes
357      no
1024     no
294      no
2636     no
430      no
3012     no
1794     no
3268     no
3207    yes
2994     no
1774     no
2266     no
342      no
1447     no
2690     no
4101     no
       ...
2235     no
1025     no
2681     no
649      no
569      no
2678     no
3994     no
945      no
3162     no
2752     no
2731     no
3357     no
2527     no
3288     no
3381     no
1638     no
789      no
1185     no
292     yes
4069    yes
1824     no
4076     no
951      no
1827     no
257      no
141      no
2646     no
1639     no
3226     no
3963     no
Name: y, Length: 1236, dtype: category
Categories (2, object): [no, yes]

In [44]:
from sklearn.ensemble import RandomForestClassifier
model_a = RandomForestClassifier(n_estimators = 10)
model_a.fit(x_train, y_train)

ValueError: could not convert string to float: 'failure'

In [49]:
# obtain summary stats for variables that are non-categorical
np.round(df.describe(),2)

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,4119.00,4119.00,4119.00,4119.00,4119.00,4119.00,4119.00,4119.00,4119.00,4119.00
mean,40.11,256.79,2.54,960.42,0.19,0.08,93.58,-40.50,3.62,5166.48
std,10.31,254.70,2.57,191.92,0.54,1.56,0.58,4.59,1.73,73.67
min,18.00,0.00,1.00,0.00,0.00,-3.40,92.20,-50.80,0.64,4963.60
25%,32.00,103.00,1.00,999.00,0.00,-1.80,93.08,-42.70,1.33,5099.10
50%,38.00,181.00,2.00,999.00,0.00,1.10,93.75,-41.80,4.86,5191.00
75%,47.00,317.00,3.00,999.00,0.00,1.40,93.99,-36.40,4.96,5228.10
max,88.00,3643.00,35.00,999.00,6.00,1.40,94.77,-26.90,5.04,5228.10

In [50]:
# Transpose Data
np.round(df.describe(),2).T

,count,mean,std,min,25%,50%,75%,max
age,4119.0,40.11,10.31,18.00,32.00,38.00,47.00,88.00
duration,4119.0,256.79,254.70,0.00,103.00,181.00,317.00,3643.00
campaign,4119.0,2.54,2.57,1.00,1.00,2.00,3.00,35.00
pdays,4119.0,960.42,191.92,0.00,999.00,999.00,999.00,999.00
previous,4119.0,0.19,0.54,0.00,0.00,0.00,0.00,6.00
emp.var.rate,4119.0,0.08,1.56,-3.40,-1.80,1.10,1.40,1.40
cons.price.idx,4119.0,93.58,0.58,92.20,93.08,93.75,93.99,94.77
cons.conf.idx,4119.0,-40.50,4.59,-50.80,-42.70,-41.80,-36.40,-26.90
euribor3m,4119.0,3.62,1.73,0.64,1.33,4.86,4.96,5.04
nr.employed,4119.0,5166.48,73.67,4963.60,5099.10,5191.00,5228.10,5228.10